body {
    justify-items: center;
    margin-top: 70px;
}

h1 {
    font-family: "Rubik Dirt", sans-serif;  
    color: rgb(84, 60, 172);
    margin-top: 10px;
    margin-left: 40px;
}

p {
    font-family: "Funnel Sans", sans-serif;
    color:white;
}

.game-area {
    justify-items: center;
    background-color: rgb(84, 60, 172);
    margin-top: 30px;;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.game-score {
    justify-items: center;
    background-color: rgb(84, 60, 172);
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}

button {
    background-color: white;
    border-color: rgb(33, 16, 92);
    padding: 50px;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: rgb(33, 16, 92);
    color: white;
}
